In [3]:
import pandas as pd
from glob import glob

In [8]:
files = glob('data/*.csv')
df_list = [pd.read_csv(file) for file in files]
df = pd.concat(df_list)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705621 entries, 0 to 239999
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   RestaurantName  705621 non-null  object
 1   Cuisine         705607 non-null  object
 2   OpenHours       463511 non-null  object
 3   State           705621 non-null  object
 4   CNTY_GEOID      705621 non-null  int64
 5   CNTY_NAME       705621 non-null  object
 6   UA_GEOID        631864 non-null  float64
 7   UA_NAME         631864 non-null  object
 8   MSA_GEOID       613885 non-null  float64
 9   MSA_NAME        613885 non-null  object
 10  Lon             705621 non-null  float64
 11  Lat             705621 non-null  float64
 12  Frequency       705621 non-null  int64
 13  isChain         705621 non-null  int64
dtypes: float64(4), int64(3), object(7)
memory usage: 80.8+ MB

,RestaurantName,Cuisine,OpenHours,State,CNTY_GEOID,CNTY_NAME,UA_GEOID,UA_NAME,MSA_GEOID,MSA_NAME,Lon,Lat,Frequency,isChain
0,Osaka,Japanese,NaN,VA,51710,Norfolk,90892.0,"Virginia Beach, VA",47260.0,"Virginia Beach-Norfolk-Newport News, VA-NC",-76.25312,36.955177,29,1
1,Osaka,Japanese,Sun 1200 PM 1030 PM | Mon Thu 1130 AM 1030 ...,NY,36081,Queens,63217.0,"New York--Newark, NY--NJ--CT",35620.0,"New York-Newark-Jersey City, NY-NJ-PA",-73.74620,40.735928,29,1
2,Osaka,Restaurant,NaN,GA,13051,Chatham,79768.0,"Savannah, GA",42340.0,"Savannah, GA",-81.09185,32.032074,29,1
3,Osaka,Japanese Sushi Asian,Sun Thu 1100 AM 1000 PM | Fri Sat 1100 AM ...,OK,40143,Tulsa,88948.0,"Tulsa, OK",46140.0,"Tulsa, OK",-95.85209,36.045910,29,1
4,Osaka,Japanese Sushi Asian,Sun 1200 PM 1000 PM | Mon Thu 430 PM 1000 P...,MN,27053,Hennepin,57628.0,"Minneapolis--St. Paul, MN--WI",33460.0,"Minneapolis-St. Paul-Bloomington, MN-WI",-93.31331,44.861050,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,Osaka,Japanese Sushi Asian,Sun 1100 AM 930 PM | Mon Tue 430 PM 930 PM ...,IL,17167,Sangamon,83899.0,"Springfield, IL",44100.0,"Springfield, IL",-89.68251,39.764510,29,1
239996,Osaka,Chinese Asian,NaN,NH,33015,Rockingham,9271.0,"Boston, MA--NH--RI",14460.0,"Boston-Cambridge-Newton, MA-NH",-71.14898,42.887710,29,1
239997,Osaka,Japanese Sushi Asian,NaN,TX,48113,Dallas,22042.0,"Dallas--Fort Worth--Arlington, TX",19100.0,"Dallas-Fort Worth-Arlington, TX",-96.60479,32.968510,29,1
239998,Osaka,Japanese Sushi Asian,NaN,LA,22109,Terrebonne,40375.0,"Houma, LA",26380.0,"Houma-Thibodaux, LA",-90.76147,29.629390,29,1
239999,Osaka,Japanese Sushi Asian,NaN,NJ,34007,Camden,69076.0,"Philadelphia, PA--NJ--DE--MD",37980.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",-75.06840,39.915707,29,1

In [9]:
df = df[(df['State'] == 'OR') & (df['CNTY_NAME'] == 'Multnomah')]
df

,RestaurantName,Cuisine,OpenHours,State,CNTY_GEOID,CNTY_NAME,UA_GEOID,UA_NAME,MSA_GEOID,MSA_NAME,Lon,Lat,Frequency,isChain
519,GoPuff,Restaurant,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.676230,45.526210,28,1
1271,Burger Bytes,Restaurant,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.673500,45.520560,27,1
1278,Burger Bytes,Restaurant,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.693600,45.532870,27,1
1324,Cinco De Mayo,Restaurant,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.672356,45.517345,27,1
1508,Dragon Palace,Chinese Sushi Asian,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.421750,45.506200,27,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237779,Veggie Grill,American Fast Food,Sun Sat 1100 AM 900 PM,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.678650,45.517420,32,1
237901,Bella Pizza,Italian Bar Pub,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.635140,45.558830,31,1
239294,The Old Spaghetti Factory,Italian American,Mon 1130 AM 230 PM | Tue 1100 AM 230 PM | We...,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.669440,45.493275,30,1
239408,Bamboo House,Restaurant,NaN,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.621260,45.512300,29,1
239911,Loving Hut,Asian,Mon Fri 1100 AM 900 PM | Sat Sun 1200 PM 9...,OR,41051,Multnomah,71317.0,"Portland, OR--WA",38900.0,"Portland-Vancouver-Hillsboro, OR-WA",-122.687000,45.516834,29,1

In [10]:
df['isChain'].describe()

count    3463.000000
mean        0.231302
std         0.421726
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: isChain, dtype: float64